{% extends 'base.html' %}

{% block title %}Объявления{% endblock %}

{% block body %}
    <ul class="list-group">
        {% for bullet in bullets %}
            <li class="list-group-item"><a href="{% url 'bullet_url' bullet.id %}"><b>{{bullet.id}} &ndash; {{ bullet.name }}</b> <small>{{ bullet.datetime }}</small></a> by <a href="{% url 'user_url' bullet.user_posted_id %}"><img src={{ bullet.user_posted.avatar.url }} style="max-height:50px;margin-right:5px"/>{{ bullet.user_posted }}</a></li>
        {% empty %}
            <li class="list-group-item disabled">empty list</li>
        {% endfor %}
    </ul>

{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}
