{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block body %}

{{ form.non_field_errors }}
<form action="{% url 'login' %}" method="post" class="form-horizontal">
                    {% csrf_token %}
                    {%  for i in form %}
                    <div class="form-group">
                        <label class="col-sm-2">{{ i.label }}</label>
                        <div class="col-sm-10">
                            <div>
                                {{ i }}
                            </div>

                        </div>
                    </div>
                    {% endfor %}

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="submit" value="Войти" class="btn btn-default"/>
                        </div>
                    </div>
</form>
{% endblock %}
